NODE_ENV="development"
PORT=5000
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE?schema=public"
JWT_SECRET = "YOUR_SECRET"
EXPIRES_IN = "5s"
REFRESH_SECRET = "YOUR_SECRET"
REFRESH_EXPIRES_IN = "30d"
PASS_RESET_EXPIRATION_TIME = "10m"
RESET_LINK = "http://localhost:3000/reset-password"
EMAIL="YOUR EMAIL"
APP_PASS = "YOUR GMAIL APP PASSWORD"
SALT_ROUND = "12"
SSL_PAYMENT_URL="https://sandbox.sslcommerz.com/gwprocess/v3/api.php"
VALIDATION_URL="https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php"
STORE_ID="SSL STORE ID"
STORE_PASSWORD="SSL STORE PASSWORD"
SUCCESS_URL="http://localhost:3000/payment?status=success"
CANCEL_URL="http://localhost:3000/payment?status=cancel"
FAIL_URL="http://localhost:3000/payment?status=failed"
CLOUD_NAME="CLOUDINARY ClOUD NAME"
API_KEY="CLOUDINARY API KEY"
API_SECRET="CLOUDINARY API SECRET"